.right {
    text-align: right;
}

h2 {
    font-family: 'Roboto Thin';
}

th {
	background-color: rgb(0, 7, 41);
	color: white;
	border: none;
	font-size: small;
	font-family: 'Roboto Thin';
}

td {
	background-color: rgb(238, 238, 238);
	border: none;
	font-family: 'Roboto';
	font-size: small;
	text-align: center;
}

.orange {
	color: orange;
}