h1 {
    font-family: 'Roboto Thin';
}

p {
    font-family: 'Roboto Bold';
}

button {
    background-color: rgb(0, 7, 41);
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    border-radius: 5px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.title {
    .orange {
        color: orange;
        font-size: 50px;
    }
    .grey {
        color: grey;
    }
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    width: 400px;
    height: 250px;
}
.big {
    height: 50px;
    width: 250px;
    font-size: 20px;
}

small {
    font-family: 'Roboto';
    color: gray;
}