label {
    font-family: 'Roboto';
}

.input {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border : 0.1em solid rgb(194, 194, 194);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:900px;
    margin-bottom: 20px;
}

th {
	background-color: rgb(83, 83, 83);
	color: white;
	border: none;
	font-size: small;
	font-family: 'Roboto Thin';
}

td {
	background-color: white;
	border: none;
	font-family: 'Roboto';
	font-size: small;
	text-align: center;
}