<div>
  <div class="alert alert-danger">
    Erreur
  </div>
      <form *ngIf="!asAdmin" class="form">
        <div class="form-group">
          <h1>Connectez-vous</h1>
        </div>
        <div class="form-group">
          <label for="">Numero :</label>
          <input class="input" type="text" name="phoneNumber" placeholder="(+261)..." [(ngModel)]="credentials.phoneNumber" />
        </div>
        <div class="form-group">
          <label for="">Mot de passe:</label>
          <input class="input" type="text" name="pwd" placeholder="********" [(ngModel)]="credentials.pwd" />
        </div>
        <div class="form-group">
          <button
            (click)="signin($event)"
            type="submit"
            class="btn btn-lg btn-primary sub"
          >
            Se connecter
          </button>
          <a class="adminlink" (click)="toggleIsAdmin()" >Je suis admin</a>
        </div>
      </form>

      <form *ngIf="asAdmin" class="form">
        <div class="form-group">
          <h1>Connectez-vous en tant qu'admin</h1>
        </div>
        <div class="form-group">
          <label for="">Nom :</label>
          <input class="input" placeholder="Exemple : admin1" type="text" name="nom" [(ngModel)]="admin.name" />
        </div>
        <div class="form-group">
          <label for="">Mot de passe:</label>
          <input class="input" placeholder="********" type="text" name="pwd" [(ngModel)]="admin.pwd" />
        </div>
        <div class="form-group">
          <button
            (click)="signinAdmin($event)"
            type="submit"
            class="btn btn-lg btn-primary sub"
          >
            Se connecter
          </button>
          <a class="adminlink" (click)="toggleIsAdmin()" >Je suis simple utilisateur</a>
        </div>
      </form>
  </div>

