<div class="container">
    <div class="card">
      <form>
        <div class="form-group">
          <h1>Connectez-vous</h1>
        </div>
        <div class="form-group">
          <label for="">Numero :</label>
          <input type="text" name="phoneNumber" [(ngModel)]="credentials.phoneNumber" />
        </div>
        <div class="form-group">
          <label for="">Mot de passe:</label>
          <input type="text" name="pwd" [(ngModel)]="credentials.pwd" />
        </div>
        <div class="form-group">
          <button
            (click)="signin($event)"
            type="submit"
            class="btn btn-lg btn-primary"
          >
            Se connecter
          </button>
        </div>
      </form>
    </div>
  </div>