<table class="table">
    <tr>
        <th>Application</th>
        <th>Montant</th>
        <th>Valeur</th>
        <th>Illimité</th>
        <th>Consomation</th>
    </tr>
    <tr *ngFor="let montant of amounts; let idx = index">
        <td>{{ montant.application!.name }}</td>                    
        <td class="right">{{ montant.value ? montant.value : "--" }}</td>     
        <td>{{ montant.application!.unit!.suffix ? montant.application!.unit!.suffix : "--" }}</td>
        <td>{{ montant.isUnlimited ? "oui" : "non" }}</td>
        <td *ngIf="montant.utilization == null">--</td>
        <td *ngIf="montant.utilization != null">
           {{ montant.utilization.intra.price }} /sec ou
            {{ montant.utilization.extra.price }} /sec A.O
        </td>
        <td (click)="remove(idx)" *ngIf="showDelBtn">
            <button class="btn btn-primary">Supprimer</button>
        </td>
</table>