<table class="table">
    <tr>
        <th>Application</th>
        <th>Montant</th>
        <th>Valeur</th>
        <th>Consomation</th>
    </tr>
    <tr *ngFor="let montant of amounts">
        <td>{{ montant.application!.name }}</td>                    
        <td class="right">{{ montant.value }}</td>     
        <td>{{ montant.application!.unit!.suffix }}</td>
        <td *ngIf="montant.utilization == null">--</td>
        <td *ngIf="montant.utilization != null">
           {{ montant.utilization.intra.price }} Ar/sec ou
            {{ montant.utilization.extra.price }} Ar/sec A.O
        </td>
</table>