th {
	background-color: rgb(83, 83, 83);
	color: white;
	border: none;
	font-size: small;
	font-family: 'Roboto Thin';
}

td {
	background-color: white;
	border: none;
	font-family: 'Roboto';
	font-size: small;
	text-align: center;
}