<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opérateur back office</title>
</head>

<body>
  <div id="header">
      <div class="elements">
        <div class="one">
          <ul>
            <li><a class="header-title" [routerLink]="['']">Accueil</a></li>
            <li *ngIf="auth.isLoggedIn()" ><a class="header-title" [routerLink]="['history']">Calls</a></li>
            <li *ngIf="auth.isLoggedInAsAdmin()" ><a class="header-title" [routerLink]="['stats']">Stats</a></li>
            <li *ngIf="auth.isLoggedInAsAdmin()" ><a class="header-title" [routerLink]="['offers']">Offres</a></li>
            <li *ngIf="auth.isLoggedInAsAdmin()" ><a class="header-title" [routerLink]="['conf']">Tarifications</a></li>
            <li *ngIf="auth.isLoggedInAsAdmin()" ><a class="header-title" [routerLink]="['mobile']">Mobile money</a></li>
          </ul>
        </div>
        <div class="two">
          <ul>
            <li *ngIf="!auth.isLoggedIn() && !auth.isLoggedInAsAdmin()"><a class="header-title" [routerLink]="['signup']">Inscription</a></li>
            <li *ngIf="!auth.isLoggedIn() && !auth.isLoggedInAsAdmin()"><a class="header-title" [routerLink]="['signin']">Login</a></li>
            <li *ngIf="auth.isLoggedIn() || auth.isLoggedInAsAdmin()" ><a class="header-title" (click)="auth.logout()">Logout</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
  </div>
</body>

</html>