$content_color: #EFF6EE;
$main_color: #F49F0A;

#content {
    width: 960px;
    margin: 0 auto;
    background-color: $content_color;
    border-radius: 7px;
    padding: 18px;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    font-size: 17px;
    margin-bottom: 17px;
    padding: 0 7px;
    background-color: $main_color;
    height: 50px;
    border-radius: 7px;
    ul {
        height: 50px;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        li {
            margin:0 28px;
        }
        a, a:visited {
            text-decoration: none;
            color: white;
            padding-bottom: 5px;
            
        }
        a:hover {
            border-bottom: 1px solid white;
        }
    }
}

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('../assets/Fonts/Roboto/Roboto-Thin.ttf')
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/Fonts/Roboto/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../assets/Fonts/Roboto/Roboto-Medium.ttf')
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../assets/Fonts/Roboto/Roboto-Bold.ttf')
}

.header-title {
    font-family:  'Roboto Bold';
    font-size: small;
    text-transform: uppercase;
}

.elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}