<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opérateur back office</title>
</head>

<body>
  <div id="header">
      <div class="elements">
        <ul>
          <li><a [routerLink]="['']">Accueil</a></li>
          <li *ngIf="auth.isLoggedIn()" ><a [routerLink]="['offers']">Offres</a></li>
          <li *ngIf="auth.isLoggedIn()" ><a [routerLink]="['conf']">Tarifications</a></li>
          <li *ngIf="auth.isLoggedIn()" ><a [routerLink]="['mobile']">Mobile money</a></li>
          <li *ngIf="!auth.isLoggedIn()"><a [routerLink]="['signup']">Inscription</a></li>
          <li *ngIf="!auth.isLoggedIn()"><a [routerLink]="['signin']">Login</a></li>
          <li *ngIf="auth.isLoggedIn()" ><a (click)="auth.logout()">Logout</a></li>
        </ul>
      </div>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">

  </div>
</body>

</html>