<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opérateur back office</title>
</head>

<body>
  <div id="header">
    <ul>
      <li><a [routerLink]="['offers']">Accueil</a></li>
      <li><a [routerLink]="['offers']">Offres</a></li>
      <li><a [routerLink]="['conf']">Tarifications</a></li>
      <li><a [routerLink]="['mobile']">Mobile money</a></li>
    </ul>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">

  </div>
</body>

</html>