<div>
    <form class="form">
      <div class="form-group">
        <h1>Inscription</h1>
      </div>
      <div class="form-group">
        <label for="">Nom :</label>
        <input class="input" type="text" name="name" [(ngModel)]="newCustomer.name" />
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input class="input" type="email" name="extra" [(ngModel)]="newCustomer.email" />
      </div>
      <div class="form-group">
        <label for="">Mot de passe:</label>
        <input class="input" type="text" name="password" [(ngModel)]="newCustomer.password" />
      </div>
      <div class="form-group">
        <button
          (click)="signup($event)"
          type="submit"
          class="btn btn-lg btn-primary sub"
        >
          S'inscrire
        </button>
      </div>
    </form>
    <div *ngIf="succes" class="">
      <h3>Votre numero : {{ phoneNumber }}</h3>
    </div>
</div>
