/* You can add global styles to this file, and also import other style files */
$main_color: #F49F0A;
$danger_color: #CE4257;
$main_padding: 5px 7px;
$main_margin: 10px 15px;
$font_size: 16px;

form {
    font-size: $font_size;

    .form-group {
        margin: $main_margin;
        label, input, select {
            display: block;
        }
        label {
            margin-bottom: 7px;
        }
        
        .row {
            display: flex;
            flex-direction: row;
            align-items: center;
            div {
                padding-right: 7px;
            }
        }
    }
    input, select {
        border-radius: 5px;
        box-sizing: border-box;
        line-height: 2;
        // margin: 7px 10px;
    }
    select, .btn
    {
        padding: 7px;
    }
}


.btn {
    padding: 7px;

    color:white;
    border: none;
    border-radius: 3px;
}
.btn-primary {
    background-color: $main_color;

}
.btn-lg {
    width: 100%;
}

.btn-danger {
    background-color: $danger_color;

}

.table {
    width: 100%;
    border-radius: 7px;
    tr {
        width: 100%;
    }
    td, th {
        border: 1px solid $main_color;
        padding: 7px 15px;
    }
}

.container {
    .actions {
        margin-bottom: 17px;
        a, a:visited {
            color:black;
                text-decoration: none;
                padding-bottom: 7px;
            }

        a:hover {
            border-bottom: 1px solid black;
        }
    }
    
}

// @import '~ngx-toastr/toastr';

// // bootstrap style toast
// // or import a bootstrap 4 alert styled design (SASS ONLY)
// // should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import '~ngx-toastr/toastr-bs4-alert';

// // if you'd like to use it without importing all of bootstrap it requires
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';
